services:
  db:
    image: postgres:13
    container_name: nextcloud-postgres
    volumes:
      - ./db-data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_PASSWORD=${NEXTCLOUD_PG_PASSWORD}
    env_file: ".env"
    restart: unless-stopped
    networks:
      - default

  app:
    image: nextcloud:latest
    container_name: nextcloud-app
    depends_on:
      - db
    volumes:
      - ./nextcloud:/var/www/html
      - ./app/config:/var/www/html/config
      - ./app/custom_apps:/var/www/html/custom_apps
      - ./app/data:/var/www/html/data
      - ./app/themes:/var/www/html/themes
      - /etc/localtime:/etc/localtime
      - /home/volokzhanin/documents:/mnt/documents
    ports:
      - 80:80
      - 443:443
    environment:
      - VIRTUAL_HOST=${EXTERNAL_URL}
      - OVERWRITECLIURL=https://nextcloud.${EXTERNAL_URL}
      - OVERWRITEPROTOCOL=https
      - LETSENCRYPT_HOST=${EXTERNAL_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
      - NEXTCLOUD_HOSTNAME='My cloud'
      - NEXTCLOUD_TRUSTED_DOMAINS=https://nextcloud.${EXTERNAL_URL}
      - REDIS_HOST=redis
    restart: unless-stopped
    env_file: ".env"
    networks:
      - default

  redis:
    image: redis:alpine
    container_name: nextcloud-redis
    volumes:
      - ./config_redis:/data
    restart: unless-stopped
    networks:
      - default

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config_syncthing:/config
     # - /mnt/backup:/mnt/backup
    ports:
       - 8384:8384 # Web UI
       - 22000:22000/tcp # TCP file transfers
       - 22000:22000/udp # QUIC file transfers
       - 21027:21027/udp # Receive local discovery broadcasts
    restart: unless-stopped
    networks:
      - default

  elasticsearch:
    image: nextcloud/aio-fulltextsearch:latest
    container_name: nextcloud-elasticsearch
    hostname: elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xms512m -Xms512m
      - bootstrap.memory_lock=true
      - cluster.name=nextcloud
      - discovery.type=single-node
      - logger.org.elasticsearch.discovery=WARN
      - http.port=9200
      - xpack.license.self_generated.type=basic
      - xpack.security.enabled=false
    volumes:
      - ./config_elasticsearch:/usr/share/elasticsearch/data:rw
    ports:
      - 9200:9200
      - 9300:9300
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8192m
    networks:
      - default

networks:
  default:
    external: true
    name: volokzhanin
